ion-col {
 
  text-align: center;
}

ion-card{
  height:100%;
  width:300px;
}

img{
  height:170px;
   width:300px;
   border-radius: 5px;
 }

h2{
  
  text-align: center;
  color:black;
}

ion-card{
  background-color: #FFE81F;
  color:black;
}

ion-col {
  display: flex;
}
ion-card {
  padding: 5px;
}