<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Star Wars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<div class="card-cont">
    <div *ngFor="let hero of heroes">
      <ion-card>
      
      <img src="{{ hero.image }}" alt="image">
      <ion-card-header>
        <ion-card-title>{{ hero.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ hero.shortdescription }}
      </ion-card-content>
      <ion-button [class.selected]="hero === selectedHero" color="warning" type="button" (click)="onSelect()">Learn More</ion-button>
      <span class="badge">{{hero.id}}</span>
   
      </ion-card>
    </div>
  
  </div> first card

  <h2>Star Wars</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngFor="let hero of heroes">

          <ion-card class="heroes">
            <img src="{{hero.image}}" alt="image">
            <ion-card-title>{{ hero.name }}</ion-card-title>

            <ion-card-content>
              {{hero.shortdescription}}
            </ion-card-content>
            <div class="lrn-more-btn">
              <ion-button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)"
                color="warning">
                Learn More

              </ion-button>
            </div>
          </ion-card>
        </div>
      </ion-col>




    </ion-row>




  </ion-grid>




  <div class="card-cont-details">
    <div *ngIf="selectedHero">

      <ion-card style="width:50%; ">

        <ion-img src="{{ selectedHero.image }}" alt="image"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ selectedHero.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ selectedHero.description }}
        </ion-card-content>
        <div class="back-btn">
          <ion-button type="button" color="warning">
            Back

          </ion-button>
        </div>


      </ion-card>
    </div>

  </div>-->

  <ion-grid *ngFor="let hero of heroes">
    <ion-row>
      <ion-col>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>








  </ion-grid>



</ion-content>