button {
  background-color: royalblue;
  padding: 0.6em;
  border-radius: 3em;
  width: 7em;
  margin-right: 2em;
}

input {
  margin: 0;
}

img {
  width: 80px;
}

.user-icon {
  text-align: center;
  margin-top: 1em;
}