ion-button {
  margin-right: 2em;
}

input {
  margin: 0;
}

img {
  width: 100px;
}

.user-icon {
  text-align: center;
  margin-top: 1em;
}

.forgot-psw {
  text-align: right;
}

a {
  color: grey;
  text-decoration: none;
}

.fb {
  margin-bottom: 2px;
}