<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>hello</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-cont">
    <div *ngFor="let hero of heroes">
      <ion-card>
      
      <img src="{{ hero.image }}" alt="image">
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>{{ hero.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ hero.shortdescription }}
      </ion-card-content>
      <ion-button color="warning" type="button" (click)="onLearnMore()">Learn More</ion-button>
   
      </ion-card>
    </div>
  
  </div>

</ion-content>
