<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="user-icon">
    <img src="https://d29fhpw069ctt2.cloudfront.net/icon/image/84587/preview.svg" alt="user-icon">
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-icon name="mail-sharp"></ion-icon><br><br>
        <ion-input position="stacked"name="email" type="text"placeholder=" *E-mail" required></ion-input>
      </ion-item>
      <ion-item>
      <ion-icon name="lock-closed-sharp"></ion-icon>        
      <ion-input  position="stacked" name="password" type="text"placeholder=" *password" required></ion-input>
      </ion-item>
    </ion-list>

    <div class="signwith">
      <h5>Sign in with</h5>
      <a href="">
        <ion-icon name="logo-facebook" class="fb"></ion-icon>
      </a>
    </div>

    <ion-row>
      <ion-col>
        <ion-button color="warning" type="submit"(click)="onLogin()" expand="block">Sign In</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="warning"type="submit"(click)="onLogin()" expand="block">Sign Up</ion-button>
        <ion-text >
          <a href="">forgot password?</a>
        </ion-text>
      </ion-col>
    </ion-row>

   


 
   
  </form>

  <div class="terms" ><a href="">terms and conditions</a></div>
</ion-content>